.timeline-date {
  padding-bottom: 0.4em;
  font-style: italic;
  font-size: 1.05em;
}

.timeline-text {
  text-indent: 1.25em;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Light  cover above the slide show */
.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(140, 22, 115, 0.2);
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(700px);
  background-image: url('../img/youmust1.jpg ');
  background-size: cover;
  animation: opaqTransition 10s cubic-bezier(0, 0, 0, 0.97) infinite;
}

.card_part.card_part-two {
  z-index: 6;
  background-image: url('../img/youmust2.jpg');
  background-size: 100% 100%;
  background-position: center top;
  animation-delay: 2.5s;
}

.card_part.card_part-three {
  z-index: 5;
  background-image: url('../img/youmust3.jpg');
  background-size: cover;
  background-position: center top;
  animation-delay: 5s;
}

.card_part.card_part-four {
  z-index: 4;
  background-image: url('../img/youmust4.jpg');
  background-size: cover;
  background-position: center top;
  animation-delay: 7.5s;
}

@keyframes opaqTransition {
  0% { transform: translateX(0); }
  25% { transform: translateX(0); }
  28% { transform: translateX(-700px); }
  100% { transform: translateX(-700px); }
}

#ghost {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bolder;
}

#ghost-animation {
  display: none;
}

.hadouken img {
  position: relative;
}

.hadouken-ryu {
  height: 100px;
  z-index: 2;
  left: 80px;
  top: -70px;
}

#powerful-hadouken {
  position: absolute;
  left: -150px;
  top: -20px;
  height: 170px;
  display: none;
}

#ray {
  position: absolute;
  width: 430px;
  top: 33px;
  height: 73px;
  left: 197px;
  display: none;
}

#hadouken {
  font-size: 1.2em;
}

#hadouken:hover {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  #hadouken {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #ray {
    width: 170px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #ray {
    width: 300px;
  }
}

#hadouken-undo {
  display: none;
  font-weight: bold;
  font-size: 1.5em;
}

#hadouken-undo:hover {
  cursor: pointer;
}
